body{ color: #060; background-color: #fff}
a{ color: #a00 }

a:visited{ color: #ccc }
div.C a:visited, div.q a:visited{
  border-color: #ccc;
  background-color: transparent;
}

div.C a, div.q a{
  /* conditional / back-compat?! */
  filter:alpha(opacity=75); -moz-opacity:.75; opacity:.75;
  background-color: #fff;

  position: absolute;
  border: 1px solid #060;
  text-align: right;
  font-family: monopace;
  font-size: 16px;
}
div.C a{
  padding: 20px 5px 2px 32px;
}
div.q a{
  padding: 20px 5px 2px 40px;
}

#site-sponsor-js{
  position: absolute;
  top: 325px;
  left: 475px;
}

#promo{
  position:absolute;
  top: 200px;
  left: 460px;
  background-color: #800;
  padding: .33em;
  font-weight: bold;
  border: 3px outset black;
}
#promo a{
  color: #fff
}
