body {background: #4750a3; color: #e9ebf4; font: bold 12px arial}

/* #splash{ position:absolute; top:53px; left:65px } */
#splash{ position:absolute; top:51px; left:64px }

div.C a{ padding: 27px 5px 2px 37px }
div.q a{ padding: 27px 5px 2px 44px }
div.q a, div.C a{ position: absolute; border: 2px solid #ccc; text-align:right }

a{ color: #ff4; }
a:visited{ color: #777 }
/* Some UAs require full path to match */
div.C a:visited, div.q a:visited{ border-color: #008 }
a#X{ color: #ccc }

div#contents{ width:725px; margin-left: auto; margin-right: auto; position: relative; padding-right: 75px }

#site-sponsor-js{
  filter:alpha(opacity=66); -moz-opacity:.66; opacity:.66;
  position: absolute;
  top: 235px;
  left: 732px;
  z-index: 9;
  color: #999
}
#site-sponsor-js img{ display: block; padding: 3px 0px; margin-left:auto; margin-right: auto }
#site-sponsor-js a{ color: #e9ebf4 }


.footer{ position:absolute; top: 555px }
.footer a{ color: #ff0 }
span#attrib { left:485px; font-size: 10px }