# brian - I don't need to review PRs for script/new_article, but if
# they come up I'd like to get the notification so I can approve them
# instead of hoping someone else handles it.
script/new_article  @briandfoy
