.box {
  background-color: white;
  border-width: 2px; border-color: black; border-style: solid;
  padding: 0.25em;
  margin-top: 1em; margin-bottom: 1em;
  margin-left: 2em; margin-right: 2em;
}

body 	{ font:       Verdana, Geneva, Arial, Helvetica, sans-serif
          color:      black;
	}

.doc         {  font: 90%       Verdana, Geneva, Arial, Helvetica, sans-serif; }
.mylink      {  font: 90%       Verdana, Geneva, Arial, Helvetica, sans-serif; text-align: center; }

.copyright   {  font: 60%       Verdana, Geneva, Arial, Helvetica, sans-serif; text-align: center; }
.onthe       {  font: 60%       Verdana, Geneva, Arial, Helvetica, sans-serif; text-align: center; }
.externalnav {  font: 60%       Verdana, Geneva, Arial, Helvetica, sans-serif; text-align: center; }
.internalnav {  font: 60%       Verdana, Geneva, Arial, Helvetica, sans-serif; }
.disablednav {  font: 60%       Verdana, Geneva, Arial, Helvetica, sans-serif; color: #aaaaaa }


.hugeheading {  font: bold 250% Verdana, Geneva, Arial, Helvetica, sans-serif; text-align: center; }
.bigheading  {  font: bold 180% Verdana, Geneva, Arial, Helvetica, sans-serif; text-align: center; }
.modtitle    {  font: bold 130% Verdana, Geneva, Arial, Helvetica, sans-serif; text-align: center; }

}

dt,dd     { font:      90%  Verdana, Geneva, Arial, Helvetica, sans-serif }
pre  	  { font:     100%  Monaco, ProFont, Courier, monospace; }

a         { text-decoration: underline; }

a:link	  { color: #1e2d39; }
a:visited { color: #1e2d39; }

a:hover   {
  color: red; 
  text-decoration: underline;
}

a:active  { color: red; }

img { display: block; }
