#wrapping{ float:right; margin-left: 1em }
.grid { background-color: white; border: 1px solid black; text-align: center }
.grid_d { text-decoration: line-through; background-color: lightgrey; color: #500 }
.grid_x { text-decoration: line-through; background-color: darkgrey; color: #500 }
.grid_m { font-weight: bold; background-color: #d88}
