body{
	background: #cdc;
	font: bold 12px arial;
}

a{ color: #600 }
div.C a{ padding: 20px 5px 2px 32px }
div.q a{ padding: 20px 5px 2px 40px }
div.q a, div.C a{
  position: absolute;
  border: 2px solid #888;
  text-align:right;
}

a:visited{ color: #077}
/* Some agents require explicit classes to match here... */
div.C a:visited, div.q a:visited{ border-color: #cdc}

#site-sponsor-js{
  position: absolute;
  top: 525px;
  left:590px;
  z-index: 9;
  background: #e8d3b2;
  color: #000;
}
#site-sponsor-js a {color: #3030cb}

#site-sponsor-js img{
  max-height: 46px;
}
.footer{
  position:absolute;
  top: 625px;
}

.title{
  position:absolute;
  top:  32px;
  left:440px;
  font-size: 18pt;
  color: #aad;
}