pre, .code-listing {
  font-weight: bold;
  overflow: scroll;
}

table {
    border-collapse: collapse;
    margin-left: 20px;
}

table, th, td {
    border: 1px solid black;
}

td { background-color: #eee; padding: 5px; }

tr.alt td {
    background-color: white;
}


thead td {
    background: #ccc;
}
