body {
  background: #eee;
  font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
html, body, svg {
  width: 100%;
  height: 100%;
}

/* node styling */

.node-label {
      position: absolute;
      pointer-events: none;
      color: black;
      z-index: 10;
      font-size: 8px;
      text-align: center;
}

#find {
    position: absolute;
    z-index: 20;
}

/* zoom buttons */

.zoom {
  margin: 5px;
  position: absolute;
  z-index: 30;
  width: 25px;
  height: 25px;
  background: white;
  border: 1px solid black;
  text-align: center;
  vertical-align: center;
  display: table-cell;
  vertical-align: middle
}

.zoomout {
  margin-left: 30px;
}
