body {background: #3030cb; color: #ffffff; font: bold 12px arial;}

a{ color: #ff4; }
div.C a{ padding: 20px 5px 2px 32px; }
div.q a{ padding: 20px 5px 2px 40px; }
div.q a, div.C a{
  position: absolute;
  border: 2px solid #ccc;
  text-align:right;
}

a:visited{ color: #077}
/* Some agents require explicit classes to match here... */
div.C a:visited, div.q a:visited{ border-color: #008}

#site-sponsor-js{
  position: absolute;
  top: 530px;
  left: 40px;
  z-index: 9;
  background: #e8d3b2;
  color: #000;
}
#site-sponsor-js a {color: #3030cb}

.footer{
  position:absolute;
  top: 625px;
}
.footer a {color: #ff0}
