pre, .code-listing {
  font-weight: bold;
  overflow: scroll;
}

.pretty-table {
    border-collapse: collapse;
    margin-left: 20px;
    border: 1px solid black;
}

.pretty-table th { background-color: #eee; padding: 5px; }
.pretty-table td { background-color: #eee; padding: 5px; }

.pretty-table tr.alt td {
    background-color: white;
}

.pretty-table thead td {
    background: #ccc;
    border-bottom: 1px solid black;
}


.supports {
    color: green;
}
.notsupports {
    color: red;
}
