---
name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

jobs:
  build-job:
    name: Test
    runs-on: ubuntu-latest
    container:
      image: perldocker/perl-tester:5.36
    steps:
      - uses: actions/checkout@v3
      - name: Install vim for Text-VimColor
        run: apt-get install -y vim
      - name: Install deps using cpm
        uses: perl-actions/install-with-cpm@v1
        with:
          cpanfile: 'cpanfile'
          sudo: false
      - name: prove
        run: prove -lr t
